# Application settings
APP_NAME=Name of APP
API_PREFIX=prefix
DEBUG=Boolean to enable logging debug info

# Logging settings INFO/DEBUG/WARNING/ERROR/CRITICAL
LOG_LEVEL=INFO

# MinIO settings (in place of S3)
MINIO_ENDPOINT=url for minio example http://minio:9000
MINIO_BUCKET=name of bucket configured example my-files
MINIO_REGION=name of region configured example us-east-1

# MinIO itself uses these names
MINIO_ROOT_USER=name of user configured
MINIO_ROOT_PASSWORD=password configured 

# Dramatiq and RabbitMQ
RABBITMQ_HOST=host for RABBITMQ localhost or rabbitmq 
RABBITMQ_PORT=5672

# Neo4j Driver
DRIVER_URL=neo4j://neo4j:7687 or neo4j://localhost:7687
DRIVER_PASSWORD=password
DRIVER_DATABASE=neo4j, db name

# Ollama (trying 3b cause 7b too much processing)
OLLAMA_URL=http://ollama:11434 container, http://host.docker.internal:11434 connect from docker to localhost
OLLAMA_MODEL_NAME=qwen2.5:3b or qwen2.5:7b
OLLAMA_TEMPERATURE=0 (recommended)
OLLAMA_CONTEXT_WINDOW=2048 (default context)
OLLAMA_EMBEDDING_MODEL=nomic-embed-text (recommended)
OLLAMA_LOG=True (log info on data output before model validate)

# GEMINI 
GEMINI_API_KEY=API KEY EXAMPLE
GEMINI_MODEL_NAME=gemini-3.5-flash or gemini-2.5-flash (recommended)
GEMINI_TEMPERATURE=0 (recommended)
GEMINI_LOG=True (log info on data output before model validate)

# Postgres
POSTGRES_USER=rag_user_Example
POSTGRES_PASSWORD=secret123Example
POSTGRES_DB=graphical_rag_Example

# API Documentation Security
SECURE_API_DOCS=True
API_DOCS_USERNAME=example_admin
API_DOCS_PASSWORD=example_password

